<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">

<input name="exception" type="hidden" />

<form name="addImageForm" th:action="@{/itemsDetails/saveImage}" class="form-horizontal" action="#" method="post" enctype="multipart/form-data">

    <input name="detailsId" type="hidden"  th:value="*{detailsId}"/>

    <div class="col-md-12">
        <div class="col-md-12 form-group">
                <label for="file"> Image to upload: </label>
                <input type="file" name="file" id="file" />
        </div>

        <div class="col-md-12 form-group">
            <div class="action-bar" style="text-align:center;">
                <a class="btn btn-primary" th:href="@{|/itemsDetails?id=${detailsId}|}" role="button">Back</a>
                <button class="btn btn-primary right-button" id="element-submitButton" name="submitAddItemButton" type="submit">Save</button>
            </div>
        </div>
    </div>
</form>