<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">

<input name="exception" type="hidden" />

<form name="buyItemForm" th:object="${itemFormObject}" th:action="@{/items/save}" class="form-horizontal" action="#" method="post" enctype="multipart/form-data">
    <div class="col-md-12">
        <input type="hidden"  th:field="*{id}"/>
        <input name="name" type="hidden"  th:field="*{name}"/>
        <input name="price" type="hidden"  th:field="*{price}"/>

        <div class="col-md-12 form-group">
            <label for="nameText"> Name </label>
            <p style="background:lightgrey;" th:text="*{name}" id="nameText" class="form-control" >
        </div>

        <div class="col-md-12 form-group">
            <label for="priceText" > Price </label>
            <p style="background:lightgrey;" th:text="*{price}" id="priceText" class="form-control">
        </div>

        <div class="col-md-12 form-group">
            <label for="amount" > Amount </label>
            <input th:field="*{amount}" id="amount" name="amount" class="form-control" >
        </div>

        <div class="col-md-12 form-group">
            <div class="action-bar" style="text-align:center;" >
                <a style="width:80px;" class="btn btn-primary" th:href="@{/items}" role="button">Cancel</a>
                <button style="width:80px;" th:if="${disableSave} eq false" class="btn btn-primary right-button" id="element-submitButton" name="submitBuyItemButton" type="submit">Buy</button>
                <button style="width:80px;" th:if="${disableSave} eq true" class="btn btn-primary right-button" type="submit" disabled>Buy</button>
            </div>
        </div>
    </div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>