<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">

<div class="errorMessage" >
    <p th:text="${exception}" > </p>
</div>

<p style="text-align:center;" th:text="|Would you like to remove item ${itemFormObject.name} ?|" > </p>

<form name="deleteItemForm" th:object="${itemFormObject}" th:action="@{/items/delete}" class="form-horizontal" action="#" method="post" enctype="multipart/form-data">
    <div class="col-md-12">
        <input type="hidden"  th:field="*{id}"/>
        <input type="hidden"  th:field="*{name}"/>
        <input type="hidden"  th:field="*{price}"/>
        <input type="hidden"  th:field="*{amount}"/>

        <div class="col-md-12 form-group">
            <div class="action-bar" style="text-align:center;" >
                <a style="width:75px;" class="btn btn-primary" th:href="@{/items}" role="button">No</a>
                <button style="width:75px;" th:if="${disableSave} eq false" class="btn btn-primary right-button" id="element-submitButton" name="submitDeleteItemButton" type="submit">Yes</button>
                <button style="width:75px;" th:if="${disableSave} eq true" class="btn btn-primary right-button" type="submit" disabled>Yes</button>
            </div>
        </div>
    </div>
</form>
</html>