<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">

<input name="exception" type="hidden" />

<p style="text-align:center;" th:text="|Would you like to remove this image?|" > </p>

<form name="addImageForm" th:action="@{/itemsDetails/deleteImage}" class="form-horizontal" action="#" method="post" enctype="multipart/form-data">

    <input name="detailsId" type="hidden"  th:value="*{detailsId}"/>
    <input name="pictureNumber" type="hidden"  th:value="*{pictureNumber}"/>

    <div class="col-md-12">

        <div class="col-md-12 form-group">
            <div class="action-bar" style="text-align:center;">
                <a class="btn btn-primary" th:href="@{|/itemsDetails?id=${detailsId}|}" role="button">No</a>
                <button class="btn btn-primary right-button" id="element-submitButton" name="submitAddItemButton" type="submit">Yes</button>
            </div>
        </div>
    </div>
</form>