<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">

<div class="errorMessage" >
    <p th:text="${exception}" > </p>
</div>

<div class="col-md-12">
    <p th:if="${itemObject.name != null}" style="text-align:center;" th:text="|Would you like to remove item ${itemObject.name} ?|" > </p>
</div>

<form name="deleteItemFromOrderForm" th:action="@{/itemInOrder/deleteItem}" class="form-horizontal" action="#" method="post" enctype="multipart/form-data">
    <div class="col-md-12">
        <input name="id" type="hidden"  th:value="*{itemObject.id}"/>
        <input name="name" type="hidden"  th:value="*{itemObject.name}"/>
        <input name="price" type="hidden"  th:value="*{itemObject.price}"/>
        <input name="orderId" type="hidden"  th:value="*{orderObject.id}"/>

        <div th:if="${itemObject.name != null}" >
            <div class="col-md-12 form-group">
                <label for="amount" > Amount </label>
                <input th:field="*{itemObject.amount}" id="amount" name="amount" class="form-control" >
            </div>

            <div class="col-md-12 form-group">
                <div class="action-bar" style="text-align:center;" >
                    <a style="width:75px;" class="btn btn-primary" th:href="@{/itemInOrder/shoppingCard}" role="button">No</a>
                    <button style="width:75px;" th:if="${disableSave} eq false" class="btn btn-primary right-button" id="element-submitButton" name="submitDeleteItemFromOrderButton" type="submit">Yes</button>
                    <button style="width:75px;" th:if="${disableSave} eq true" class="btn btn-primary right-button" type="submit" disabled>Yes</button>
                </div>
            </div>
        </div>

        <a th:if="${itemObject.name eq null}" style="width:75px;" class="btn btn-primary" th:href="@{/itemInOrder/shoppingCard}" role="button">Back</a>
    </div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>