<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">

<input name="exception" type="hidden" />

<div class="errorMessage" >
    <p th:text="${exception}" > </p>
</div>

<form name="editItemForm" th:object="${itemFormObject}" th:action="@{/items/save}" class="form-horizontal" action="#" method="post" enctype="multipart/form-data">
    <div class="col-md-12">
        <input type="hidden"  th:field="*{id}"/>

        <div class="col-md-12 form-group">
            <label for="name"> Name </label>
            <input  th:field="*{name}" id="name" name="name" class="form-control" >
        </div>

        <div class="col-md-12 form-group">
            <label for="price" > Price </label>
            <input th:field="*{price}" id="price"  name="price" class="form-control" >
        </div>

        <div class="col-md-12 form-group">
            <label for="amount" > Amount </label>
            <input th:field="*{amount}" id="amount" name="amount" class="form-control" >
        </div>

        <div class="col-md-12 form-group">
            <div class="action-bar" style="text-align:center;" >
                <a class="btn btn-primary" th:href="@{/items}" role="button">Back</a>
                <button th:if="${disableSave} eq false" class="btn btn-primary right-button" id="element-submitButton" name="submitEditItemButton" type="submit">Save</button>
                <button th:if="${disableSave} eq true" class="btn btn-primary right-button" type="submit" disabled>Save</button>
            </div>
        </div>
    </div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>