<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">

<div class="errorMessage" >
    <p th:text="${exception}" > </p>
</div>

<form name="editOrderForm" th:object="${orderObject}" th:action="@{/orders/edit}" class="form-horizontal" action="#" method="post" enctype="multipart/form-data">
    <div class="col-md-12">
        <input type="hidden"  th:field="*{id}"/>

        <div class="col-md-12 form-group">
            <label for="priceText" > Price </label>
            <p style="background:lightgrey;" th:text="*{price}" id="priceText" class="form-control">
        </div>

        <div class="col-md-12 form-group">
            <label for="addDateText"> Date of creation </label>
            <p style="background:lightgrey;" th:text="${#temporals.format(orderObject.addDate, 'yyyy-MM-dd HH:mm')}" id="addDateText" class="form-control" >
        </div>

        <div class="col-md-12 form-group">
            <label for="element-position" class="data-label"> Order status </label>
            <select class="form-control" id="element-position" th:field="*{status}">
                <option th:each="orderStatusEnum : ${T(pl.marwit44.orderNowportal.model.OrderStatus).values()}"
                        th:if="${orderStatusEnum.getValue()} >= *{status.getValue()}"
                        th:value="${orderStatusEnum}"
                        th:text="${orderStatusEnum}"
                        th:selected="*{status}" >
                </option>
            </select>
        </div>

        <div class="col-md-12 form-group">
            <div class="action-bar" style="text-align:center;" >
                <a class="btn btn-primary" th:href="@{/orders}" role="button">Back</a>
                <button th:if="${disableSave} eq false" class="btn btn-primary right-button" id="element-submitButton" name="submitEditOrderButton" type="submit">Save</button>
                <button th:if="${disableSave} eq true" class="btn btn-primary right-button" type="submit" disabled>Save</button>
            </div>
        </div>
    </div>
</form>