<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head th:include="header_common::header">
    <title id="pageTitle">OrderNow - Email Templates</title>
</head>
<body>
<nav th:replace="~{header_common :: navSection}" class="navbar navbar-inverse"></nav>
<div class="container">

    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Create Time</th>
            <th scope="col">Update Time</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="email : ${emails}">
            <th scope="row" th:text="${email.id}">Id</th>
            <td th:text="${email.name}"></td>
            <td th:text="${email.mailType}"></td>
            <td th:text="${#temporals.format(email.createTime, 'dd-MM-yyyy HH:mm')}"></td>
            <td th:text="${#temporals.format(email.updateTime, 'dd-MM-yyyy HH:mm')}"></td>
            <td>
                <a class="btn btn-primary" style="width:80px;" href="/email_templates" th:href="|@{/email_templates/details/}${email.id}|" role="button">Details</a>
                <a class="btn btn-primary" style="width:80px;" href="/email_templates" th:href="|@{/email_templates/edit/}${email.id}|" role="button">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="topMargin">
        <div class="row" >
            <div class="col-10" >
                <nav aria-label="User navigation" >
                    <ul class="pagination justify-content-end" style="text-align:center;">
                        <li th:class="${actualPage == 1} ? |page-item disabled|" class="page-item">
                            <th:block th:switch="*{searchTerm}">
                                <th:block th:case="null">
                                    <a class="page-link" th:href="@{|/email_templates/list/page/${actualPage-1}|}" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                </th:block>
                                <th:block th:case="*">
                                    <a class="page-link" th:href="@{|/email_templates/list/page/${actualPage-1}?searchTerm=${searchTerm}|}" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                </th:block>
                            </th:block>
                        </li>
                        <th:box th:each="page : ${pageNumber}">
                            <th:block th:switch="*{searchTerm}">
                                <li th:class="${actualPage == page} ? 'page-item active'" class="page-item">
                                    <th:block th:case="null">
                                        <a class="page-link" th:href="@{|/email_templates/list/page/${page}|}" th:text="${page}">1</a>
                                    </th:block>

                                    <th:block th:case="*">
                                        <a class="page-link" th:href="@{|/email_templates/list/page/${page}?searchTerm=${searchTerm}|}" th:text="${page}"></a>
                                    </th:block>
                                </li>
                            </th:block>
                        </th:box>
                        <li th:class="${actualPage>=pageNumber.size()} ? |page-item disabled|" class="page-item">
                            <th:block th:switch="*{searchTerm}">
                                <th:block th:case="null">
                                    <a class="page-link" th:href="@{|/email_templates/list/page/${actualPage+1}|}" href="#">Next</a>
                                </th:block>
                                <th:block th:case="*">
                                    <a class="page-link" th:href="@{|/email_templates/list/page/${actualPage+1}?searchTerm=${searchTerm}|}" href="#">Next</a>
                                </th:block>
                            </th:block>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="bottomTopMargin">
        <div class="col-4" style="text-align:left;">
            <form th:action="@{/email_templates/list/page/1}" method="get" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-8" style="text-align:left;">
                        <input style="border:1px solid grey;" name="searchTerm"  th:value="*{searchTerm}" id="element-find" class="form-control" maxlength="255">
                    </div>
                    <div class="col-4" style="text-align:right;">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>