<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header_common::header">
    <title id="pageTitle" th:text="|OrderNow - ${template.type}|">Edit Template</title>
</head>


<body>
<nav th:replace="~{header_common :: navSection}" class="navbar navbar-inverse"></nav>

<div class="container">
    <h2 style="color:red" th:text = "${exception}"></h2>
    <form th:object="${template}" th:action="@{/email_templates/edit/}" action="#" method="post" enctype="multipart/form-data">
        <input type="hidden"  th:field="*{id}"/>
        <input type="hidden"  th:field="*{searchTerm}"/>
        <h1 style="display: inline-block" th:text="|*{name}|">Template Name</h1>
        <p th:text="|Type: *{type}|">Type:</p>
        <table cellspacing="10">
            <tr>
                <th>
                <th:block th:switch="*{searchTerm}">
                    <th:block th:case="''">
                        <a style="width:80px;" class="btn btn-primary" href="/email_templates/list/page/1" role="button">Back</a>
                    </th:block>
                    <th:block th:case="*">
                        <a style="width:80px;" class="btn btn-primary" th:href="|@{/email_templates/list/page/1}?searchTerm=${template.searchTerm}|" role="button">Back</a>
                    </th:block>
                </th:block>
                <button style="width:80px;" class="btn btn-primary right-button" id="element-submitButton" type="submit">Save</button></th>
            </tr>
        </table>
        <table cellpadding="10" class="w-100">
            <tr>
                <th class="w-50">
                    <div>
                        <p>From:</p>
                        <input id="from" th:field="*{from}" class="form-control" disabled>
                    </div>
                </th>

                <th class="w-50">
                    <div >
                        <p>Copy to:</p>
                        <input th:field="*{copyTo}" id="copyTo" class="form-control" maxlength="255">
                    </div>
                </th>
            </tr>

            <tr>
                <th class="w-50">
                    <div>
                        <p>Reply to:</p>
                        <input th:field="*{replyTo}" id="replyTo" class="form-control" maxlength="255">
                    </div>
                </th>

                <th class="w-50">
                    <div>
                        <p>Blind copy to:</p>
                        <input th:field="*{blindCopyTo}" id="blindCopyTo" class="form-control" maxlength="255">
                    </div>
                </th>
            </tr>
        </table>
        <div class="w-100 p-2" >
            <p style="font-weight:bold;">Subject:</p>
            <input th:field="*{subject}" id="subject" class="form-control" >
            <p style="font-weight:bold; padding-top:10px">Message body:</p>
            <textarea id="editor"  name="editor" class="ckeditor " rows="10" cols="118" th:field="*{template}"></textarea>
            <script type="text/javascript" src="//cdn.ckeditor.com/4.11.4/full/ckeditor.js"></script>
            <script>
                CKEDITOR.replace('editor');
            </script>

        </div>
    </form>
</div>


</body>
</html>