<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header_common::header">
    <title id="pageTitle" th:text="|OrderNow - ${template.type}|">Template details</title>
</head>
<body>
<nav th:replace="~{header_common :: navSection}" class="navbar navbar-inverse"></nav>

<div class="container">
    <h1 style="display: inline-block" th:text="|${template.name}|">Template Name</h1>
    <p th:text="|Type: ${template.type}|">Type:</p>
    <th:block th:switch="*{template.searchTerm}">
        <th:block th:case="''">
            <a style="width:80px;" class="btn btn-primary" href="/email_templates/list/page/1" role="button">Back</a>
        </th:block>
        <th:block th:case="*">
            <a style="width:80px;" class="btn btn-primary" th:href="|@{/email_templates/list/page/1}?searchTerm=${template.searchTerm}|" role="button">Back</a>
        </th:block>
    </th:block>
    <table cellpadding="10" style="width:100%">
        <tr>
            <th class="w-50">
                <div>
                    <p>From:</p>
                    <p id="from" th:text="${template.from}" class="form-control">
                </div>
            </th>

            <th class="w-50">
                <div >
                    <p>Copy to:</p>
                    <p th:text="${template.copyTo}" id="copyTo" class="form-control">
                </div>
            </th>
        </tr>

        <tr>
            <th class="w-50">
                <div>
                    <p>Reply to:</p>
                    <p th:text="${template.replyTo}" id="replyTo" class="form-control" >
                </div>
            </th>

            <th class="w-50">
                <div>
                    <p>Blind copy to:</p>
                    <p th:text="${template.blindCopyTo}" id="blindCopyTo" class="form-control">
                </div>
            </th>
        </tr>
    </table>
    <div class="w-100 p-2">
        <p style="font-weight:bold;">Subject:</p>
        <p th:text="${template.subject}" id="subject" class="form-control" >
        <p style="font-weight:bold; padding-top:10px">Message body:</p>
        <div style="padding:15px; width:100%; border-style:solid; border-width:1px" >
            <div  th:utext="${template.template}"> </div>
        </div>

    </div>
</div>
</body>
</html>