<head th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <title th:include=":: #pageTitle">BookShare</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>


<nav th:fragment="navSection"  class="navbar navbar-inverse navbar-expand-lg justify-content-center navbar-dark bg-dark">

    <a class="navbar-brand" href="/"><img th:src="@{/files/orderNow.png}" width="30" height="30" class="d-inline-block align-top" th:alt="logo"> OrderNow</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
            <a th:if="${userRole} eq ${T(pl.marwit44.orderNowportal.model.UserRole).ROLE_USER}" class="nav-item nav-link" th:href="@{/users/profile}">Profile</a>
            <a th:if="${userRole} eq ${T(pl.marwit44.orderNowportal.model.UserRole).ROLE_ADMIN}" class="nav-item nav-link" th:href="@{/users/list/page/1}">Users</a>
            <a class="nav-item nav-link" th:href="@{/items?pageId=1&sortBy=name&searchTerm=&desc=false&rangeFrom=&rangeTo=}">Items</a>
            <a class="nav-item nav-link" th:href="@{/orders?pageId=1&searchTerm=&sortBy=addDate&desc=false&rangeFrom=&rangeTo=}">Orders</a>
            <a th:if="${userRole} eq ${T(pl.marwit44.orderNowportal.model.UserRole).ROLE_ADMIN}" class="nav-item nav-link" th:href="@{/email_templates/list/page/1}">Emails</a>
        </div>
        <div class="navbar-nav ml-auto">
            <span th:if="${userRole} eq ${T(pl.marwit44.orderNowportal.model.UserRole).ROLE_USER}" class="navbar-text">Price: <strong th:text ="|${#numbers.formatDecimal(shoppingCardPrice, 0,T(Math).round(shoppingCardPrice) == shoppingCardPrice ? 0 : 2,'POINT')} $|"></strong></span>
            <a th:if="${userRole} eq ${T(pl.marwit44.orderNowportal.model.UserRole).ROLE_USER}" class="nav-item nav-link" th:href="@{/itemInOrder/shoppingCard?pageId=1&searchTerm=&sortBy=name&desc=false&rangeFrom=&rangeTo=}">Shopping Card</a>
            <a class="nav-item nav-link" th:href="@{/logout}">Logout</a>
        </div>
    </div>
</nav>