<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header_common::header">
    <title id="pageTitle">OrderNow - Home</title>
</head>
<body>
<nav th:replace="~{header_common :: navSection}" class="navbar navbar-inverse"></nav>
<div class="container">

    <div class="errorMessage" style="text-align:left;">
        <p th:text="${exception}" > </p>
    </div>

    <div class="bottomTopMargin" style="text-align:left;">
        <h1 >Welcome to OrderNow</h1>
    </div>
</div>
</body>
</html>
