<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head th:include="header_common::header">
    <title id="pageTitle">OrderNow - Item Details</title>
</head>
<body>
<nav th:replace="~{header_common :: navSection}" class="navbar navbar-inverse"></nav>
<div class="container">

    <div class="errorMessage" style="text-align:left;">
        <p th:text="${exception}" > </p>
    </div>

    <div th:switch="${errorMessage}">
        <div th:case="''">
        <div class="loginFormMargin" >
            <div class="topBottomMargin" style="text-align:left;">
                <h1 th:text="|Name: ${item.name}|" > </h1>
            </div>

                    <div class="col-md-6 form-group">
                        <div class="topBottomMargin" style="text-align:left;">
                            <label for="priceText"> Price: </label>
                            <p th:text="|${#numbers.formatDecimal(item.price, 0,T(Math).round(item.price) == item.price ? 0 : 2,'POINT')} $|" id="priceText" name="priceText" > </p>
                        </div>
                    </div>

                    <div class="col-md-6 form-group">
                        <div class="topBottomMargin" style="text-align:left;">
                            <label for="amountText"> Amount: </label>
                            <p th:text="${item.amount}" id="amountText" name="amountText" > </p>
                        </div>
                    </div>

                    <div class="col-md-6 form-group">
                        <div class="topBottomMargin" style="text-align:left;">
                            <label th:if="${user.role} eq ${T(pl.marwit44.orderNowportal.model.UserRole).ROLE_USER}" for="descriptionText"> Description: </label>
                            <p th:if="${user.role} eq ${T(pl.marwit44.orderNowportal.model.UserRole).ROLE_USER}" th:text="${itemDetails.description}" id="descriptionText" name="descriptionText" > </p>
                        </div>
                    </div>

                    <form name="itemDetailsForm" th:object="${itemDetails}" th:action="@{/itemsDetails/save}" class="form-horizontal" action="#" method="post" enctype="multipart/form-data">
                        <input type="hidden"  th:field="*{id}"/>
                        <input type="hidden"  name="goBackTo" th:field="*{goBackTo}"/>
                        <input type="hidden"  name="orderId" th:field="*{orderId}"/>
                        <div class="col-md-6 form-group">
                            <div class="topBottomMargin" style="text-align:left;">
                                <label th:if="${user.role} eq ${T(pl.marwit44.orderNowportal.model.UserRole).ROLE_ADMIN}" for="descriptionInput"> Description: </label>
                                <input th:if="${user.role} eq ${T(pl.marwit44.orderNowportal.model.UserRole).ROLE_ADMIN}" th:field="*{description}" id="descriptionInput" name="descriptionInput" class="form-control" >
                                <div class="errorMessage" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
                            </div>
                        </div>

                        <div th:if="${imageListNotEmpty eq true}" >
                            <img alt="Image" th:src="@{|/itemsDetails/getImage?detailsId=${item.id}|}" width="250" height="250"/>

                            <ul class="pagination justify-content-center" style="text-align:center;">
                                <li th:class="${showFirst == false} ? |page-item disabled|" class="page-item">
                                    <a class="page-link" th:href="@{|/itemsDetails?id=${item.id}&pictureNumber=1|}" href="#" tabindex="-1" aria-disabled="true" th:text="|<<|"></a>
                                </li>
                                <li th:class="${pictureNumber == 1} ? |page-item disabled|" class="page-item">
                                    <a class="page-link" th:href="@{|/itemsDetails?id=${item.id}&pictureNumber=${pictureNumber-1}|}" href="#" tabindex="-1" aria-disabled="true" th:text="|<|"></a>
                                </li>
                                <th:box th:each="page : ${pictureNumberList}">
                                    <li th:class="${pictureNumber == page} ? 'page-item active'" class="page-item">
                                        <a class="page-link" th:href="@{|/itemsDetails?id=${item.id}&pictureNumber=${page}|}" th:text="${page}">1</a>
                                    </li>
                                </th:box>
                                <li th:class="${pictureNumber>=pictureNumberList.size()} ? |page-item disabled|" class="page-item">
                                    <a class="page-link" th:href="@{|/itemsDetails?id=${item.id}&pictureNumber=${pictureNumber+1}|}" href="#" th:text="|>|">></a>
                                </li>
                                <li th:class="${showLast == false} ? |page-item disabled|" class="page-item">
                                    <a class="page-link" th:href="@{|/itemsDetails?id=${item.id}&pictureNumber=${allPictures}|}" href="#" th:text="|>>|"></a>
                                </li>
                            </ul>
                        </div>
                        <div th:if="${user.role} eq ${T(pl.marwit44.orderNowportal.model.UserRole).ROLE_ADMIN}" class="pagination justify-content-center">
                            <div style="text-align:center;" class="bottomTopMargin">
                                <p style="width:50px;" > Image: </p>
                            </div>
                            <div class="col-1" style="text-align:right;">
                                <a style="width:60px;" class="btn btn-primary" role="button" data-toggle="modal" href="" data-target="#addEditItemDetailsModal" th:onclick="'javascript:showAddItemDetailsModal(' + ${item.id} + ');'">Add</a>
                            </div>
                            <div class="col-1" style="text-align:right;">
                                <a style="width:80px;" class="btn btn-primary" role="button" data-toggle="modal" href="" data-target="#addEditItemDetailsModal" th:onclick="'javascript:showDeleteItemDetailsModal(' + ${item.id} + ',' + ${pictureNumber} + ');'">Delete</a>
                            </div>
                        </div>

                        <div class="col-md-6 form-group">
                            <div class="topBottomMargin" style="text-align:center;">
                                <p th:text="${successText}" > </p>
                            </div>
                        </div>

                        <div class="col-md-6 form-group">
                            <div class="action-bar" style="text-align:center;" >
                                <div th:switch="${itemDetails.goBackTo}">
                                    <div th:case="items">
                                        <a class="btn btn-primary" th:href="@{/items}" role="button">Back</a>
                                        <button th:if="${user.role} eq ${T(pl.marwit44.orderNowportal.model.UserRole).ROLE_ADMIN}" class="btn btn-primary right-button" id="element-submitButton" name="submitItemDetailsButton" type="submit">Save</button>
                                    </div>
                                    <div th:case="shoppingCard">
                                        <a class="btn btn-primary" th:href="@{/itemInOrder/shoppingCard}" role="button">Back</a>
                                        <button th:if="${user.role} eq ${T(pl.marwit44.orderNowportal.model.UserRole).ROLE_ADMIN}" class="btn btn-primary right-button" id="element-submitButton3" name="submitItemDetailsButton" type="submit">Save</button>
                                    </div>
                                    <div th:case="*">
                                        <a class="btn btn-primary" th:href="@{|/itemInOrder/details/${itemDetails.orderId}|}" role="button">Back</a>
                                        <button th:if="${user.role} eq ${T(pl.marwit44.orderNowportal.model.UserRole).ROLE_ADMIN}" class="btn btn-primary right-button" id="element-submitButton5" name="submitItemDetailsButton" type="submit">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
        <div th:case="*">
            <div class="bottomTopMargin" style="text-align:center;">
                <h1 th:text="${errorMessage}" > </h1>
            </div>
        </div>
    </div>
    <div id="addEditItemDetailsModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="titleLabelAddDeleteImage">Add</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>