<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head th:include="header_common::header">
    <title id="pageTitle">OrderNow - Items</title>
</head>
<body>
<nav th:replace="~{header_common :: navSection}" class="navbar navbar-inverse"></nav>
<div class="container">

    <div class="errorMessage" style="text-align:center;">
        <p th:text="${exception}" > </p>
    </div>

    <div class="bottomTopMargin" style="text-align:center;">
        <p> Order list is empty, would you like to order something? </p>
    </div>

    <div class="row">
        <div class="col-5">
        </div>
        <div class="col-2" style="text-align:center;">
            <a class="nav-item nav-link" th:href="@{/items?pageId=1&sortBy=name&searchTerm=&desc=false&rangeFrom=&rangeTo=}">Items</a>
        </div>
    </div>
</div>
</body>
</html>