<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header_common::header">
    <title id="pageTitle">OrderNow</title>
</head>
<body>
<nav th:fragment="navSection"  class="navbar navbar-inverse navbar-expand-lg justify-content-center navbar-dark bg-dark">
    <a class="navbar-brand" href="#">OrderNow</a>
</nav>
<div class="container">

    <div class="errorMessage" >
        <p th:text="${exception}" > </p>
    </div>

    <div class="topBottomMargin">
        <h1>Password restart</h1>
    </div>

    <div class="row" >
        <div class="col-md-6">
            <form th:action="@{/users/restart_password}" class="form-horizontal" action="#" method="post" enctype="multipart/form-data">

                <div class="col-md-8 form-group">
                    <label for="email" class="data-label">Email address: </label>
                    <input id="email" th:field="${emailForm.email}" class="form-control"/>
                    <div class="errorMessage" th:if="${#fields.hasErrors('emailForm.email')}" th:errors="*{emailForm.email}"></div>
                </div>

                <div class="col-md-8 form-group">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>