<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head th:include="header_common::header">
    <title id="pageTitle">OrderNow - Shopping Card</title>
</head>
<body>
<nav th:replace="~{header_common :: navSection}" class="navbar navbar-inverse"></nav>
<div class="container">

    <div class="errorMessage" style="text-align:center;">
        <p th:text="''" > </p>
    </div>

    <div class="TopMargin">
        <div class="row">
            <div class="col-10" >
                <ul class="pagination justify-content-center">
                    <div style="text-align:center;" class="bottomTopMargin">
                        <p style="width:80px;" >Sort by: </p>
                    </div>
                    <div style="text-align:center;">
                        <li th:class="${sortBy} == 'name'  ? 'page-item active'" class="page-item">
                            <a class="page-link" style="width:80px;" th:href="@{/itemInOrder/shoppingCard?pageId=1&sortBy=name}"  >Name</a>
                        </li>
                    </div>
                    <div style="text-align:center;">
                        <li th:class="${sortBy} == 'price' ? 'page-item active'" class="page-item">
                            <a class="page-link"  style="width:80px;" th:href="@{/itemInOrder/shoppingCard?pageId=1&sortBy=price}" >Price</a>
                        </li>
                    </div>
                    <div style="text-align:center;">
                        <li th:class="${sortBy} == 'amount' ? 'page-item active'" class="page-item">
                            <a class="page-link" style="width:80px;" th:href="@{/itemInOrder/shoppingCard?pageId=1&sortBy=amount}" >Amount</a>
                        </li>
                    </div>
                    <div style="text-align:center;" class="bottomTopMargin">
                        <p style="width:120px;" > &nbsp; Sort order: &nbsp;</p>
                    </div>
                    <div style="text-align:center;">
                        <li th:class="${desc} == true  ? 'page-item active'" class="page-item">
                            <a class="page-link" style="width:80px;" th:href="@{/itemInOrder/shoppingCard?pageId=1&desc=true}"  >desc</a>
                        </li>
                    </div>
                    <div style="text-align:center;">
                        <li th:class="${desc} == false  ? 'page-item active'" class="page-item">
                            <a class="page-link" style="width:80px;" th:href="@{/itemInOrder/shoppingCard?pageId=1&desc=false}"  >asc</a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>

    <div th:if="${sortBy != 'name'}">
        <div class="leftMargin">
            <div class="row">
                <div class="col-12" >
                    <form th:action="@{/itemInOrder/shoppingCard}" method="get" enctype="multipart/form-data">
                        <div class="row">
                            <div>
                                <input name="pageId" type="hidden" th:value="1" id="pageId" class="form-control">
                            </div>
                            <div class="col-1" >
                                <div style="text-align:center;" class="bottomTopMargin">
                                    <p style="width:50px;" > From: </p>
                                </div>
                            </div>
                            <div class="col-3" >
                                <input style="border:1px solid grey;" name="rangeFrom"  th:value="*{rangeFrom}" id="rangeFrom" class="form-control" maxlength="19">
                            </div>
                            <div class="col-1" >
                                <div style="text-align:center;" class="bottomTopMargin">
                                    <p style="width:20px;" > To: </p>
                                </div>
                            </div>
                            <div class="col-3" >
                                <input style="border:1px solid grey;" name="rangeTo"  th:value="*{rangeTo}" id="rangeTo" class="form-control" maxlength="19">
                            </div>
                            <div class="col-2" >
                                <button class="btn btn-primary" type="submit">Select</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="errorMessage" style="text-align:left;">
        <p th:text="${exception}" > </p>
    </div>

    <div class="topBottomMargin" style="text-align:center;">
        <h1 th:text="|Price: ${#numbers.formatDecimal(orderPrice, 0,T(Math).round(orderPrice) == orderPrice ? 0 : 2,'POINT')} $|" > </h1>
    </div>

    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th class="text-right" scope="col">Price</th>
            <th class="text-right" scope="col">Amount</th>
            <th class="text-right" scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${itemInOrderList}">
            <th scope="row" th:text="${item.id}">Id</th>
            <td th:text="${item.name}"></td>
            <td class="text-right" th:text="|${#numbers.formatDecimal(item.price, 0,T(Math).round(item.price) == item.price ? 0 : 2,'POINT')} $|"></td>
            <td class="text-right" th:text="${item.amount}"></td>
            <td class="text-right" >
                <a class="btn btn-primary mt-1" style="width:80px;"  th:href="@{|/itemsDetails/getByName/shoppingCard?name=${item.name}&pictureNumber=1|}"  role="button" >Details</a>
                <button style="width:80px;" class="btn btn-primary mt-1" data-toggle="modal" data-target="#deleteAcceptOrderModal" href="" th:onclick="'javascript:showDeleteItemFromOrderModal(' + ${item.id} + ');'" >Delete</button>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="bottomTopMargin" >
        <div class="row" >
            <div class="col-12" style="text-align:center;" >
            <button style="width:80px;" class="btn btn-primary mt-1" data-toggle="modal" data-target="#deleteAcceptOrderModal" href="" th:onclick="'javascript:showDeleteShoppingCardModal(' + ${orderId} + ');'" >Delete</button>
            <button style="width:80px;" class="btn btn-primary mt-1" data-toggle="modal" data-target="#deleteAcceptOrderModal" href="" th:onclick="'javascript:showAcceptOrderModal(' + ${orderId} + ');'" >Accept</button>
            </div>
        </div>
    </div>

    <div class="topMargin">
        <div class="row">
            <div class="col-10" >
                <nav aria-label="User navigation" >
                    <ul class="pagination justify-content-end" style="text-align:center;">
                        <li th:class="${showFirst == false} ? |page-item disabled|" class="page-item">
                            <a class="page-link" th:href="@{/itemInOrder/shoppingCard?pageId=1}" href="#" tabindex="-1" aria-disabled="true" th:text="|<<|"></a>
                        </li>
                        <li th:class="${actualPage == 1} ? |page-item disabled|" class="page-item">
                            <a class="page-link" th:href="@{|/itemInOrder/shoppingCard?pageId=${actualPage-1}|}" href="#" th:text="|<|" tabindex="-1" aria-disabled="true"></a>
                        </li>
                        <th:box th:each="page : ${pageNumber}">
                            <li th:class="${actualPage == page} ? 'page-item active'" class="page-item">
                                <a class="page-link" th:href="@{|/itemInOrder/shoppingCard?pageId=${page}|}" th:text="${page}">1</a>
                            </li>
                        </th:box>
                        <li th:class="${actualPage>=pageNumber.size()} ? |page-item disabled|" class="page-item">
                            <a class="page-link" th:href="@{|/itemInOrder/shoppingCard?pageId=${actualPage+1}|}" href="#" th:text="|>|"></a>
                        </li>
                        <li th:class="${showLast == false} ? |page-item disabled|" class="page-item">
                            <a class="page-link" th:href="@{|/itemInOrder/shoppingCard?pageId=${totalPages}|}" href="#" th:text="|>>|"></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="bottomTopMargin">
        <div class="row">
            <div class="col-4" style="text-align:left;">
                <form th:action="@{/itemInOrder/shoppingCard}" method="get" enctype="multipart/form-data">
                    <div class="row">
                        <div>
                            <input name="pageId" type="hidden" th:value="1" id="pageIdST" class="form-control">
                        </div>
                        <div class="col-8" style="text-align:left;">
                            <input style="border:1px solid grey;" name="searchTerm"  th:value="*{searchTerm}" id="element-find" class="form-control" maxlength="255">
                        </div>
                        <div class="col-4" style="text-align:right;">
                                <button class="btn btn-primary" type="submit">Search</button>
                            </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <div>
        <p> </p>
    </div>

    <div id="deleteAcceptOrderModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="titleLabelDeleteAccept">Add</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>