<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:include="header_common::header">
    <title id="pageTitle">OrderNow</title>
</head>
<body>
<nav th:fragment="navSection"  class="navbar navbar-inverse navbar-expand-lg justify-content-center navbar-dark bg-dark">
    <a class="navbar-brand" href="#">OrderNow</a>
</nav>
<main class="container mt-5">
    <h1>Thanks for register!</h1>
    <p>Now you can  <a th:href="@{/login}">log in</a>.</p>
</main>
</body>
</html>