<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:include="header_common::header">
    <title id="pageTitle" th:text="|OrderNow ${user.firstName} ${userfirstColumn.lastName details}|">User
        details</title>
</head>
<body>
<nav th:fragment="navSection"  class="navbar navbar-inverse navbar-expand-lg justify-content-center navbar-dark bg-dark">
    <a class="navbar-brand" href="#">OrderNow</a>
</nav>
<div class="container mt-5">
    <h1>Token not found!</h1>
    <p th:text="${error}">Token does not exist or has been already used.</p>
</div>
</body>
</html>