<html xmlns:th="http://www.thymeleaf.org">

<div> </div>

<div class="loginFormMargin">
    <div class="topBottomMargin" style="text-align:left;">
        <p style="font-weight: bold;" th:text="|Name: ${user.firstName} ${user.lastName}|"></p>
    </div>

    <div class="topBottomMargin" style="text-align:left;">
        <p th:text="|Email: ${user.email}|"></p>
    </div>

    <div class="topBottomMargin" style="text-align:left;">
        <p th:text="|Street: ${address.street}|"></p>
    </div>

    <div class="topBottomMargin" style="text-align:left;">
        <p th:text="|City: ${address.city}|"></p>
    </div>

    <div class="topBottomMargin" style="text-align:left;">
        <p th:text="|Phone number: ${address.phoneNumber}|"></p>
    </div>

    <div class="topBottomMargin" style="text-align:left;">
        <p th:text="|Date of registration: ${#temporals.format(user.registerDate, 'yyyy-MM-dd HH:mm')}|"></p>
    </div>
</div>