<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head th:include="header_common::header">
    <title id="pageTitle">OrderNow - Shopping Card</title>
</head>
<body>
<nav th:replace="~{header_common :: navSection}" class="navbar navbar-inverse"></nav>
<div class="container">

    <div class="errorMessage" style="text-align:center;">
        <p th:text="${exception}" > </p>
    </div>

    <div class="loginFormMargin" >
        <div class="topBottomMargin" style="text-align:left;">
            <h1 th:text="|Name: ${user.firstName} ${user.lastName}|" > </h1>
        </div>

        <form name="AddressForm" th:object="${address}" th:action="@{/users/edit}" class="form-horizontal" action="#" method="post" enctype="multipart/form-data">
            <div class="col-md-12">
                <input type="hidden"  th:field="*{id}"/>

                <div class="col-md-6 form-group">
                    <div class="topBottomMargin" style="text-align:left;">
                        <label for="emailText"> Email: </label>
                        <p th:text="${user.email}" id="emailText" name="emailText" > </p>
                    </div>
                </div>

                <div class="col-md-6 form-group">
                    <div class="topBottomMargin" style="text-align:left;">
                        <label for="street"> Street: </label>
                        <input th:field="*{street}" id="street" name="street" class="form-control" >
                        <div class="errorMessage" th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></div>
                    </div>
                </div>

                <div class="col-md-6 form-group">
                    <div class="topBottomMargin" style="text-align:left;">
                        <label for="city"> City: </label>
                        <input th:field="*{city}" id="city" name="city" class="form-control" >
                        <div class="errorMessage" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>
                    </div>
                </div>

                <div class="col-md-6 form-group">
                    <div class="topBottomMargin" style="text-align:left;">
                        <label for="phoneNumber"> Phone number: </label>
                        <input th:field="*{phoneNumber}" id="phoneNumber" name="phoneNumber" class="form-control" >
                        <div class="errorMessage" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
                    </div>
                </div>

                <div class="col-md-6 form-group">
                    <div class="topBottomMargin" style="text-align:left;">
                        <label for="registerDate"> Date of registration: </label>
                        <p th:text="${#temporals.format(user.registerDate, 'yyyy-MM-dd HH:mm')}"  id="registerDate" name="registerDate"> </p>
                    </div>
                </div>

                <div class="col-md-6 form-group">
                    <div class="topBottomMargin" style="text-align:center;">
                        <p th:text="${successText}" > </p>
                    </div>
                </div>

                <div class="col-md-6 form-group">
                    <div class="action-bar" style="text-align:center;" >
                        <button th:if="${disableSave} eq false" class="btn btn-primary right-button" id="element-submitButton" name="submitAddressButton" type="submit">Save</button>
                        <button th:if="${disableSave} eq true" class="btn btn-primary right-button" type="submit" disabled>Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>