<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header_common::header">
    <title id="pageTitle">OrderNow </title>
</head>
<body>
<nav th:fragment="navSection"  class="navbar navbar-inverse navbar-expand-lg justify-content-center navbar-dark bg-dark">
    <a class="navbar-brand" href="#">OrderNow</a>
</nav>

<div class="container">

    <div>
        <p></p>
    </div>

    <div class="row" >
        <div class="col-md-6">

            <div class="topBottomMargin">
                <h1>Set Password</h1>
            </div>

            <form th:action="@{|/users/activate/${token}|}" class="form-horizontal" action="#" method="post" enctype="multipart/form-data">
                <div class="col-md-8 form-group">
                    <label for="element-email" class="data-label">Email: </label>
                    <p type ="text" th:text="*{user.email}" id="element-email"> </p>
                </div>

                <div class="col-md-8 form-group">
                    <input th:field="*{passwordForm.password}" class="form-control" placeholder="Password"
                        aria-placeholder="Password" id="password" type="password" />
                    <div class="errorMessage" th:if="${#fields.hasErrors('passwordForm.password')}" th:errors="*{passwordForm.password}"></div>
                </div>

                <div class="col-md-8 form-group">
                    <input th:field="*{passwordForm.confirmPassword}" class="form-control" placeholder="Confirm Password"
                        aria-placeholder="Confirm Password" id="confirm_password"
                        type="password" />
                    <div class="errorMessage" th:if="${#fields.hasErrors('passwordForm.confirmPassword')}" th:errors="*{passwordForm.confirmPassword}"></div>
                </div>
                <div class="col-md-8 form-group">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <h1>Password Requirements</h1>
            <p>Minimum of 8 characters length</p>
            <p>Containing minimum 1: </p>

            <p style="margin-left:4em;">Uppercase letter</p>
            <p style="margin-left:4em;">Lowercase letter</p>
            <p style="margin-left:4em;">Number</p>
            <p style="margin-left:4em;">Special character</p>
        </div>
    </div>
</div>
</body>
</html>