<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head th:include="header_common::header">
    <title id="pageTitle">OrderNow - Orders</title>
</head>
<body>
<nav th:replace="~{header_common :: navSection}" class="navbar navbar-inverse"></nav>
<div class="container">

    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th class="text-right" scope="col">Name</th>
            <th class="text-right" scope="col">Email</th>
            <th class="text-right" scope="col">Date of creation</th>
            <th class="text-right" scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${T(pl.marwit44.orderNowportal.model.UserRole).ROLE_USER} eq ${user.role}" th:each="user : ${allUsers}">
            <th scope="row" th:text="${user.id}">Id</th>
            <td class="text-right" th:text="|${user.firstName} ${user.lastName}|">Id</td>
            <td class="text-right" th:text="${user.email}"></td>
            <td class="text-right" th:text="${#temporals.format(user.registerDate, 'yyyy-MM-dd HH:mm')}"></td>
            <td class="text-center" >
                <button style="width:80px;" class="btn btn-primary mt-1" data-toggle="modal" data-target="#deleteAcceptOrderModal" href="" th:onclick="'javascript:showUserDetailsModal(' + ${user.id} + ');'" >Details</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="topMargin">
        <div class="row" >
            <div class="col-10" >
                <nav aria-label="User navigation" >
                    <ul class="pagination justify-content-end" style="text-align:center;">
                        <li th:class="${actualPage == 1} ? |page-item disabled|" class="page-item">
                            <th:block th:switch="*{searchTerm}">
                                <th:block th:case="null">
                                    <a class="page-link" th:href="@{|/users/list/page/${actualPage-1}|}" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                </th:block>
                                <th:block th:case="*">
                                    <a class="page-link" th:href="@{|/users/list/page/${actualPage-1}?searchTerm=${searchTerm}|}" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                </th:block>
                            </th:block>
                        </li>
                        <th:box th:each="page : ${pageNumber}">
                            <th:block th:switch="*{searchTerm}">
                                <li th:class="${actualPage == page} ? 'page-item active'" class="page-item">
                                    <th:block th:case="null">
                                        <a class="page-link" th:href="@{|/users/list/page/${page}|}" th:text="${page}">1</a>
                                    </th:block>

                                    <th:block th:case="*">
                                        <a class="page-link" th:href="@{|/users/list/page/${page}?searchTerm=${searchTerm}|}" th:text="${page}"></a>
                                    </th:block>
                                </li>
                            </th:block>
                        </th:box>
                        <li th:class="${actualPage>=pageNumber.size()} ? |page-item disabled|" class="page-item">
                            <th:block th:switch="*{searchTerm}">
                                <th:block th:case="null">
                                    <a class="page-link" th:href="@{|/users/list/page/${actualPage+1}|}" href="#">Next</a>
                                </th:block>
                                <th:block th:case="*">
                                    <a class="page-link" th:href="@{|/users/list/page/${actualPage+1}?searchTerm=${searchTerm}|}" href="#">Next</a>
                                </th:block>
                            </th:block>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="bottomTopMargin">
        <div class="row">
            <div class="col-4" style="text-align:left;">
                <form th:action="@{/users/list/page/1}" method="get" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-8" style="text-align:left;">
                            <input style="border:1px solid grey;" name="searchTerm"  th:value="*{searchTerm}" id="element-find" class="form-control" maxlength="255">
                        </div>
                        <div class="col-4" style="text-align:right;">
                                <button class="btn btn-primary" type="submit">Search</button>
                            </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <div>
        <p> </p>
    </div>

    <div id="deleteAcceptOrderModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="titleLabelDeleteAccept">Add</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>